*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: beige;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

h1 {
    font-size: 3em;
    margin: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.searchbar-container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: auto;
    margin-bottom: 1em;
}

.searchbar {
    width: 80%;
    padding: .5em 1.5em;
    margin-right: 1em;
}

.btn {
    width: 30px;
    padding: .5em;
    cursor: pointer;
}

.list {
    width: 400px;
    height: auto;
    list-style-type: none;
}

.checkbox {
    margin-right: .5em;
}

.task-item {
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    margin-left: -2.5em;
    position: relative;
    border: 1px solid silver;
}

.task-item:nth-child(odd) {
    background-color: rgb(250, 250, 235);
}

.task-item:nth-child(even) {
    background-color: white;
}

/* //delete icon */
.fa-trash-o {
    position: absolute;
    right: 1em;
    font-size: 1.3em;
    cursor: pointer;
    color: rgb(136, 47, 47);
}

.crossed-out {
    text-decoration: line-through;
}